<!-- Start Footer -->
<footer class="ampstart-footer flex flex-column items-center px3 ">
  <nav class="ampstart-footer-nav">
    <ul class="list-reset flex flex-wrap mb3">
      <li class="px1">
        <a class="text-decoration-none ampstart-label" href="/">Post</a>
      </li>
      <li class="px1">
        <a class="text-decoration-none ampstart-label" href="/about">About</a>
      </li>
      <li class="px1">
        <a class="text-decoration-none ampstart-label" href="/privacy-policy">Terms</a>
      </li>
    </ul>
  </nav>
  <small>
    © End Try,
    <script>
      document.write(new Date().getFullYear());
    </script>
  </small>
</footer>
<!-- End Footer -->