<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary tac-header">
  <div class="mdl-layout__header-row tac-logo-row mdl-grid">

    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone mdl-cell--hide-tablet"></div>

    <div class="header-content mdl-cell mdl-cell--8-col">

        <div class="mdl-layout-spacer"></div>

        <a class="tac-site-title" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/c-logo.png" alt="เดฟไปวันๆ"/>
          <span class="mdl-layout-title tac-title">
            {{ site.title }}
          </span>
        </a>
    </div>

  </div>
  <div class="mdl-layout__header-row scrollable-header-row mdl-layout--large-screen-only mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell--hide-phone mdl-cell--hide-tablet mdl-cell mdl-cell--2-col"></div>
    <nav class="mdl-navigation tac-tab-navigation mdl-cell mdl-cell--8-col">

        <!--
          my_page.autogen is populated by the pagination logic for all pages
          that are automatically created by the gem. Check for non-existence to exclude pagination pages from site.pages iterators
        -->
        <!-- {% assign nav_items = (site.pages | sort:"site_nav_category_order" %}   
        {% for my_page in nav_items %}
          {% if my_page.title and my_page.autogen == nil and my_page.page == "posts" %}
              <a class="mdl-navigation__link mdl-js-ripple-effect{% if page.site_nav_category == my_page.site_nav_category %} mdl-navigation__link--current{% endif %}"
              href="{{ site.baseurl }}{{ my_page.url }}">{{ my_page.title | escape }}<div class="mdl-ripple"></div></a>      
          {% endif %}
        {% endfor %} -->

        <a class="mdl-navigation__link mdl-js-ripple-effect{% if page.site_nav_category == 'post' %} mdl-navigation__link--current{% endif %}"
              href="{{ site.baseurl }}/">{{ 'Posts' | escape }}<div class="mdl-ripple"></div></a>     
        
              <a class="mdl-navigation__link mdl-js-ripple-effect{% if page.site_nav_category == 'about' %} mdl-navigation__link--current{% endif %}"
              href="{{ site.baseurl }}/about">{{ 'About' | escape }}<div class="mdl-ripple"></div></a>     

    </nav>
  </div>
</header>