--- 
layout: page 
--- 
<section class="mb4">
    <amp-live-list layout="container" data-poll-interval="15000" data-max-items-per-page="5" id="amp-live-list-insert-blog">
    {% for post in site.categories[page.categories] %}
        <div items onclick="window.location = '{{post.url}}';" style="cursor: pointer;">
            <div data-sort-time="20180505100727">
                <div class="ampstart-card m2 blog">
                    <a href="{{ post.url | absolute_url }}">
                        <amp-img src="{{post.cover_image}}" alt="{{post.title}}" width="1280" height="553" layout="responsive" alt="{{post.title}}" class="mb1"></amp-img>
                    </a>        
                    <h3 class="title">{{ post.title }}</h3> 
                    <p class="date">{{ post.date | date: date_format }}</p>
                    <p class="text">{{ post.short_description | escape }}</p>
                    <p>&nbsp;</p> 
                </div>
            </div>
        </div>
    {% endfor %}
    </amp-live-list>
</section>
<section class="mx2 mb4">
    <h2 class="mb3">Categories</h2>
    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    {% assign sortedTags = site_tags | split:',' | sort %}
    <ul class="ampstart-related-section-items list-reset flex flex-wrap m0">
    {% for tag in sortedTags %}
    <li style="margin-bottom: 25px;border-bottom: none;">
        <a href="/category/{{ tag | cgi_escape }}" class="ampstart-btn ampstart-btn-secondary" style="margin: 2px;text-transform: uppercase;">
            {{tag}}
        </a>
    </li> 
    {% endfor %}
    </ul> 
</section>