---
layout: default
---
<article class="recipe-article">
  <header>
    <br><br>
    <h2 class="mb1 px3">{{ page.title | escape }}</h1>

    <!-- Start byline -->
    <address class="ampstart-byline clearfix mb4 px3 h5">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
        </time>
    </address>
    <!-- End byline -->
    <amp-img src="{{ page.cover_image }}" width="1280" height="653" layout="responsive" alt="{{page.title}}" class="mb4 mx3"></amp-img>

  </header>
  <p class="mb4 px3">
      {{ page.short_description }}
  </p>

  <section class="px3 mb4">
    <section class="mb4">
        {{ content }}
    </section>

  <section>
    <h2 class="h3 mb4">Recommended for you</h2>
    <ul class="ampstart-related-section-items list-reset flex flex-wrap m0">
        {% assign firstCategory = page.categories | first %}
        {% assign relatedCount = 0 %}
        {% for related in site.categories[firstCategory] %}
            {% assign relatedCount = relatedCount | plus: 1 %}
            <li class="col-12 sm-col-4 md-col-4 lg-col-4 pr2 py2">
                <a href="{{related.url}}" class="text-decoration-none">
                <figure class="ampstart-image-with-caption m0 relative mb4">
                    <amp-img src="{{related.cover_image}}" alt="{{related.title}}" width="285" height="185" layout="responsive" class=""></amp-img>
                  <figcaption class="h5 mt1 px3">
                      {{related.title}}
                  </figcaption>
                </figure>
                </a>
              </li>
            {% if relatedCount == 6 %}
                {% break %}
            {% endif %}
        {% endfor %}
    </ul>
  </section>
    
    <section>
      <h2 class="mb3">Categories</h2>
      <ul class="list-reset p0 m0 mb4">
          {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
          {% assign sortedTags = site_tags | split:',' | sort %}
          {% for tag in sortedTags %}
          <li class="mb2">
            <a href="/category/{{ tag | cgi_escape }}" class="text-decoration-none h3">{{ tag }}</a>
          </li>
          {% endfor %}
      </ul>
    </section>
  </section>
</article>