---
layout: default
---
<article class="recipe-article">
  <header>
    <br>
    
    <!-- End byline -->
    <amp-img data-hero src="{{site.url}}{% if page.cover_image %}{{ page.cover_image }}{% else %}{{ site.cover_image }}{% endif %}" width="1280" height="653" layout="responsive" alt="{{page.title}}" class="mb4 mx3"></amp-img>
    
    <h2 class="mb1 px3">{{ page.title | escape }}</h1>

    <br>
    <!-- Start byline -->
    <address class="ampstart-byline clearfix mb4 px3 h5">
        By <em><a style="text-decoration: none;" href="http://fb.me/async.true">เดฟไปวันๆ</a>, </em>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
        </time>
    </address>
  </header>

  <section class="post-content px3 mb4">
    <div>
        <blockquote class="ampstart-pullquote">
            {{ page.short_description }}
        </blockquote>
        <br>
        <section class="mb4">
            {{ content }}
        </section>
        
        <section class="mb4">
            <amp-img data-hero style="border-radius: 100px;" class="ampstart-byline-photo mr3 left" src="/assets/images/profile.png" alt="เดฟไปวันๆ" layout="fixed" height="60" width="60"></amp-img>
            <a style="text-decoration: none;" class="ampstart-byline-pubdate block bold my1" href="https://fb.me/async.true" role="author">เดฟไปวันๆ</a>
            <p style="margin-top:-6px;font-size: 14px;">Full Stack Developer (Android, IOS, Flutter, React, Vue, Golang, Java, Kotlin, Node, PHP, Docker, Etc.)</p>
            <p style="font-size: 12px;;">1 August 2015 - Present</p>
        </section>
    
        <section>
            <h2 class="h3 mb4">Recommended for you</h2>
            <ul class="ampstart-related-section-items list-reset flex flex-wrap m0">
                {% assign firstCategory = page.categories | first %}
                {% assign relatedCount = 0 %}
                {% for related in site.categories[firstCategory] %}
                    {% assign relatedCount = relatedCount | plus: 1 %}
                    <li class="col-12 sm-col-4 md-col-4 lg-col-4 pr2 py2">
                        <a href="{{related.url}}" class="text-decoration-none">
                        <figure class="ampstart-image-with-caption m0 relative mb4">
                            <amp-img data-hero src="{{related.cover_image}}" alt="{{related.title}}" width="285" height="185" layout="responsive" class=""></amp-img>
                        <figcaption class="h5 mt1 px3">
                            {{related.title}}
                        </figcaption>
                        </figure>
                        </a>
                    </li>
                    {% if relatedCount == 6 %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
        
        <section>
            <h2 class="mb3">Categories</h2>
            {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
            {% assign sortedTags = site_tags | split:',' | sort %}
            <ul class="ampstart-related-section-items list-reset flex flex-wrap m0">
            {% for tag in sortedTags %}
            <li style="margin-bottom: 25px;border-bottom: none;">
                <a href="/category/{{ tag | cgi_escape }}" class="ampstart-btn ampstart-btn-secondary" style="margin: 2px;text-transform: uppercase;">
                    {{tag}}
                </a>
            </li> 
            {% endfor %}
            </ul>
        </section>
    </div>
  </section>
</article>