<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>เดฟไปวันๆ - {{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.png" />
    <!-- Page styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- MDL -->
    <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content" style="padding: 20px;">
        {{ content }}
    </main>
</body>

</html>